<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaterfallFlow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74B41A7C1F341965004ED749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B41A951F341966004ED749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B41AA01F341966004ED749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
